<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Введение в Java - разработку</title>
    <style>
        .types {
        color: green;
        font-family: arial;
        background: beige;
        }
        .link {
        color: purple;
        font-family: arial;
        background: #F0FFFF;
        }
    </style>
</head>
<body>
<h1>
    Урок_1
</h1>
<h2>Привет пока</h2>
<div class="types">
    <p>Привет! В этом уроке мы начнем изучать язык java.</p>
    <p>Java является строго типизированным языком программирования.<br>
        Это значит, что каждая переменная имеет определенный тип,<br>
        который строго определен и неизменяем.
    </p>
</div>

<div class="link">
    <p>
        <a href="https://ru.wikipedia.org/wiki/Java">Java</a>
        - это один из самых популярных языков программирования!
        <br>
        <a><img src="java.png" alt="Java picture" width="200"></a>
    </p>
</div>

</body>
</html>